@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --app-secondary: #ff5c00;
  --main-black: #000000;
  --main-gray: #666666;
  
  /* Typography */
  --heading-1-font-family: "DM Sans", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 48px;
  --heading-1-letter-spacing: -1.44px;
  --heading-1-line-height: 58.6px;
  --heading-1-font-style: normal;
  
  --heading-2-font-family: "DM Sans", Helvetica;
  --heading-2-font-weight: 500;
  --heading-2-font-size: 24px;
  --heading-2-letter-spacing: -0.72px;
  --heading-2-line-height: 31.2px;
  --heading-2-font-style: normal;
  
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 18px;
  --body-letter-spacing: -0.54px;
  --body-line-height: 21.9px;
  --body-font-style: normal;
  
  --navigation-font-family: "Inter", Helvetica;
  --navigation-font-weight: 500;
  --navigation-font-size: 14px;
  --navigation-letter-spacing: -0.42px;
  --navigation-line-height: 17.1px;
  --navigation-font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
